<!DOCTYPE html>
<html>
    <head>
        <title>JOBBOARD</title>
        <!-- <link rel="icon" href="scr/jobboard_app/static/image/icon.ico" type="image/x-icon"> -->
    </head>
    <body>
        <nav>
            <a href="{% url 'index' %}">Index</a>
            <a href="{% url 'vacancy_add' %}">Add vacancy</a>
            <a href="{% url 'company_list' %}">Companies</a>
            <a href="{% url 'company_add' %}">Add Company</a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
    
</html>